* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --cta-h: 64px;
  --cta-gap: 16px;
}
.ctn {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .participate_ctn {
    padding: 1rem;
    width: 100%;
    min-height: 0;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: 10px;
    .text_container1 {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      height: 8rem;
      .meeting_info_ctn {
        width: 100%;
        height: 3.5rem;
        display: flex;
        flex-direction: row;
        background-color: #fff9f1;
        gap: 0.6rem;
        border-radius: 8px;
        border-radius: 8px 0 0 8px;
        .dividend {
          width: 2.5%;
          height: 100%;
          background: #ffc8a5;
          border-radius: 8px 0 0 8px;
        }
        .meeting_info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 0.4rem;
          p:nth-of-type(1) {
            font-family: Pretendard;
            font-weight: 500;
            font-style: Medium;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #343434;
          }
          p:nth-of-type(2) {
            font-family: Pretendard;
            font-weight: 400;
            font-style: Regular;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #616161;
          }
        }
      }
      input {
        box-sizing: border-box;
        width: 100%;
        height: 3.5rem;

        border: 1px solid #e8e8e8;
        padding: 1rem;
        border-radius: 8px;
        text-align: left;
        direction: ltr;
      }
    }

    .timetable {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      min-height: 0;
      width: 100%;
      height: 85%;
      gap: 1rem;
      .timetable_ctn .fc {
        height: 80%;
      }
      .timetable_ctn {
        height: 80%;
        overflow: scroll;
        border: 1px solid #e8e8e8;
        border-radius: 1rem;
      }

      @media (max-height: 700px) {
        .timetable_ctn {
          height: 68%;
        }
      }

      > p {
        font-family: Pretendard;
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #616161;
        > span {
          color: #ff6200;
        }
      }
    }
  }
}

.date-header {
  font-family: Pretendard;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  max-width: 5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: rem;
}

.fc .fc-scrollgrid tr {
  border: none !important;
}
.fc-scrollgrid {
  border: none !important;
}

.fc .fc-col-header-cell {
  border: none !important;
  height: 2.5rem;
  font-size: 12px;
  color: #343434;
  line-height: 2.5rem;
}
.fc .fc-timegrid-slot-label {
  border: none !important;
  font-family: Pretendard;
  font-weight: 400;
  font-style: Regular;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: middle;
  color: #343434;
}

.fc .busy-block {
  background-image: repeating-linear-gradient(135deg, #c6c6c6 0 8px, #a19a9a 8px 16px);
  pointer-events: auto;
}
.fc-event.selected-block {
  pointer-events: none !important; /* 드래그 통과 */
  opacity: 0.6;
  mix-blend-mode: multiply;
}

.fc-direction-ltr,
.fc-timegrid-col-events {
  width: 100%;
}
.fc-timegrid-event-harness,
.fc-timegrid-event-harness-inset {
  opacity: 0.75;
  pointer-events: none;
  z-index: 1;
}
.fc .selected-block,
.fc .selected-block * {
  pointer-events: none !important;
  border-radius: 8px;
}
// .button_ctn {
//   position: fixed;
//   bottom: 0;
//   height: var(--cta-h);
//   z-index: 1000;
// }

.button_ctn {
  width: 100%;
  height: 5.75rem;
  padding: 1rem;
  > .button {
    display: inline-block;
    width: 100%;
    height: 3.75rem;
    background-color: #ff6200;
    border-radius: 8px;
    .button_p_ctn {
      display: flex;
      text-align: center;
      justify-content: center;
      p {
        font-family: Pretendard;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 17px;
        line-height: 23.1px;
        letter-spacing: 1%;
        text-align: center;
        color: var(--Color, #f7f7f7);
      }
    }
  }
}

.top_ctn {
  width: 100%;
  height: 3.125rem;
  padding: 1rem;
  background-color: #fff9f1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  img {
    position: absolute;
    left: 1rem;
    top: 1rem;
    cursor: pointer;
  }
  p {
    font-family: Pretendard;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 17px;
    line-height: 23.1px;
    letter-spacing: 1%;
    color: #343434;
  }
}
