.projectInputComponent {
  width: 100%;
  height: 7rem;

  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;

  &__inputSection {
    width: 100%;
    height: 2.5rem;

    padding: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    background-color: $color-gray-11;

    &__inputTag {
      flex: 1;
      height: 100%;

      border: none;

      background-color: $color-gray-11;
    }

    &__addBtn {
      width: 1.8rem;
      height: 1.8rem;

      svg {
        color: $color-gray-400;
      }
    }
  }

  &__listSection {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 3px;

    overflow-y: scroll;
  }
}

.projectInputComponentRow {
  width: 100%;
  padding: 5px 10px;

  &__buttonContainer {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;

    input[type="radio"] {
      accent-color: $color-orange-5;
      width: 20px;
      height: 20px;

      &:hover {
        background-color: $color-orange-5;
        border-color: $color-orange-5;
      }
    }

    &__projectName {
      color: #b04400;
      background-color: $color-orange-7;

      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      padding: 2px;

      border-radius: 8px;
    }
  }
}
