$background-color: #fff9f1;
$signiture-color: #ff6200;

.login_container {
  width: 100%;
  height: 100vh;
  background: $background-color;
  display: flex;
  flex-direction: column;
  justify-content: center;

  > .flex_container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 5.2rem;

    > .flex_container2 {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
