.accordion {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;

  &__item {
    border-radius: 8px;
    border: 1px solid $color-gray-8;
    background: #fff;
    width: 100%;
    transition: border-color 300ms cubic-bezier(0.87, 0, 0.13, 1);

    &[data-state="open"] {
      border-color: $color-orange-5;
    }
  }

  &__trigger {
    width: 100%;
    height: 4rem;
    display: flex;
    gap: 16px;
    align-items: center;
    box-sizing: border-box;
    padding: 12px 16px;

    span {
      color: $color-orange-5;
    }

    &[data-state="open"] {
      border-bottom: 1px solid $color-gray-8;
    }

    &__icon {
      color: $color-orange-1;
      flex-shrink: 0; // 아이콘 크기 고정
    }

    &__content {
      display: flex;
      gap: 3px;
      flex-direction: column;
      align-items: flex-start;
      flex-grow: 1;
      min-width: 0; // flex item이 축소될 수 있도록

      &__title {
        color: $color-gray-2;
        /* subtitle */
        font-family: Pretendard;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      &__value {
        color: $color-gray-10;
        /* title */
        font-family: Pretendard;
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: 23.1px;
        /* 135.882% */
        letter-spacing: 0.17px;
        min-height: 23.1px;

        display: block;
        width: 100%;
        min-width: 0; // flex item 내부에서도 축소 가능하도록
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &__chevron {
      transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
      color: $color-gray-2;
      flex-shrink: 0; // 아이콘 크기 고정
    }

    &[data-state="open"] &__chevron {
      transform: rotate(180deg);
    }
  }

  &__content {
    overflow: hidden;

    &[data-state="open"] {
      animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
    }

    &[data-state="closed"] {
      animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
    }
  }
}

@keyframes slideDown {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }

  to {
    height: 0;
    opacity: 0;
  }
}
