.CountDown {
  width: 100%;
  height: 3.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: $color-orange-5;
  color: $color-orange-300;

  padding: 0 20px;

  border-radius: 8px;

  &__label {
    @include body-3;
  }

  &__time {
    @include head-3;
    margin-right: 3rem;
  }
}
