* {
  margin: 0;
  padding: 0;
}
.button_ctn {
  width: 100%;
  height: 5.75rem;
  padding: 1rem;
  position: absolute;
  bottom: 0rem;
  > .button {
    display: inline-block;
    width: 100%;
    height: 3.75rem;
    background-color: #ff6200;
    border-radius: 8px;
    .button_p_ctn {
      display: flex;
      text-align: center;
      justify-content: center;
      p {
        font-family: Pretendard;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 17px;
        line-height: 23.1px;
        letter-spacing: 1%;
        text-align: center;
        color: var(--Color, #f7f7f7);
      }
    }
  }
}
