.top_ctn {
  width: 100%;
  height: 3.125rem;
  padding: 1rem;
  background-color: #fff9f1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  img {
    position: absolute;
    left: 1rem;
    top: 1rem;
  }
  p {
    font-family: Pretendard;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 17px;
    line-height: 23.1px;
    letter-spacing: 1%;
    color: #343434;
  }
}
