.meetingLinkPage {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.loadingContainer {
  text-align: center;
}

.loadingText {
  @include body-2;
  color: $color-gray-300;
}

.errorContainer {
  text-align: center;
  max-width: 400px;
}

.errorTitle {
  @include head-1;
  color: $color-gray-500;
  margin-bottom: 16px;
}

.errorMessage {
  @include body-2;
  color: $color-gray-300;
  line-height: 1.6;
}
