.participantItemCard {
  width: 100%;
  height: 4rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;

  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;

  background-color: $color-cream-dark;

  &__leftEdge {
    width: 10px;
    height: 100%;

    background-color: $color-orange-2;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &__dataArea {
    flex: 1;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 23px;

    font-size: 14px;
    font-weight: 500;

    &__profileImg {
      width: 50px;
      height: 50px;
      border-radius: 50%; // 원형으로 만들기
      object-fit: cover; // 이미지 비율 유지하면서 꽉 채우기
    }
  }
}
