.main_ctn {
  width: 100%;
  padding: 1rem 1rem 2.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.meeting_card_ctn {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.write_title {
  font-family: Pretendard;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #616161;
}

.contribution_role {
  display: flex;
  justify-content: space-between;
}

.ctn_in_common {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.in-common {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  width: 100%;
  height: 3.25rem;
  padding-left: 0.8rem;
}

.contribution_input {
  width: 90%;
}

.feel_ctn {
  height: 6rem;
  padding: 0.8rem;
  resize: vertical;
  font-family: Pretendard;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.star {
  color: #ff6200;
}

.to_write_meeting {
}
