.memoir_write_intro_container {
  height: 10%;
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  position: relative;

  > button {
    position: absolute;
    left: 1rem;
    top: 1rem;
    appearance: none;
    display: flex;
    > img {
      width: 21px;
      height: 21px;
    }
  }

  > p {
    font-family: Pretendard;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 17px;
    line-height: 23.1px;
    letter-spacing: 1%;
    color: #404040;
    padding-left: 0.2rem;
  }

  top: 0;
}
