.project_banner_ctn {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
  height: 100%;
}

.banner {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner_box {
  width: 100%;
  transition: all 0.3s ease;
  height: auto;
  max-height: 20rem;
  opacity: 0;
  pointer-events: none;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: scroll;
}

.banner_box_input_ctn {
  width: 100%;
  height: 2.5rem;
  background: #f7f7f7;
  display: flex;
  padding: 0.5rem;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.8rem;
  border-radius: 8px;
}

.banner_box_input_ctn > input {
  width: 80%;
  all: unset;
  box-sizing: border-box;
}

.checkbox_ctn {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.study_checkbox {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #cccccc;
  border-radius: 100%;
  position: relative;
}

.study_checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  background: #ff914c;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease-in-out;
  border-radius: 100%;
}

.study_checkbox:checked::after {
  transform: translate(-50%, -50%) scale(1);
}

.banner_box.open {
  height: 20rem;
  opacity: 1;
  pointer-events: auto;
}

.banner_name_ctn {
  display: inline-block;
  width: fit-content;
  padding: 0 0.6rem;
  height: 100%;
  background-color: #faefdf;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.banner_name_ctn > p {
  font-size: 12px;
  color: #b04404;
}

.chevron_icon {
  transition: transform 0.3s ease;
}
.rotate {
  transform: rotate(180deg);
}
