.meetingDetailRow {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 40px;

  font-family: Pretendard;

  &__leftArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    font-size: 14px;
    font-style: normal;
    font-weight: 500;

    color: $color-gray-400;
  }

  &__rightArea {
    flex: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border-left: 1px solid $color-gray-100;

    padding-left: 10px;

    font-size: 14px;
    font-style: normal;
    font-weight: 500;

    &__participantImg {
      width: 35px;
      height: 35px;
      border-radius: 50%;

      margin-left: -10px;

      cursor: pointer;
    }
  }
}

.participantRow {
  flex: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;

  padding-left: 10px;
}

.slideUpContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 90vh; /* 화면 높이의 90% */
  background-color: #fff;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: 1000;
}

.backdrop {
  position: fixed;
  inset: 0;
  background-color: #000;
  z-index: 999;
}
