.meetingDetailPage {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  &__contents {
    width: 100%;

    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 16px;

    &__view {
      flex: 1;

      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
    }

    &__button {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }
}

.shareButton {
  background-color: $color-cream-100;
  color: $color-orange-10;
  cursor: pointer;
}

.editButton {
  background-color: $color-orange-10;
  color: white;
  cursor: pointer;
}

