* {
  margin: 0;
  button {
    all: unset;
    cursor: pointer;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

.meeting_summary_ctn {
  padding: 0.3rem 1rem 0.5rem 1rem;
  height: 18%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: #fff9f1;

  .logo_container {
    display: flex;
    justify-content: center;
    .logo_button {
      width: 4.625rem;
      height: 2.5rem;
      display: flex;
      justify-content: center;
    }
  }
  > .myMeeting_intro {
    display: flex;
    justify-content: space-between;
    height: 23%;
    > p:first-child {
      font-family: Pretendard;
      font-weight: 700;
      font-style: Bold;
      font-size: 21px;

      line-height: 100%;
      letter-spacing: 0%;
    }
    .button_container {
      display: flex;
      gap: 0.2rem;
      > p {
        font-size: 14px;
        color: #616161;
      }
      display: flex;
      align-items: center;
      > img {
        width: 13px;
        height: 13px;
      }
    }
  }

  .myMeetings {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;

    min-height: 0;
    .summaryCard {
      width: 33%;
      height: 100%;
      background-color: #fffefd;
      border: 1px solid #e8e8e8;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.2rem;
      > .title {
        font-family: Pretendard;
        font-weight: 500;
        font-style: Medium;
        font-size: 1rem;
        line-height: 100%;
        letter-spacing: 0%;
        color: #959595;
      }

      > .value {
        color: black;
        font-family: Pretendard;
        font-weight: 700;
        font-style: Bold;
        font-size: 21px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
      }
    }
  }
}

.list_must_ctn {
  display: flex;
  flex-direction: column;
  gap: 3%;
  flex: 1;
  min-height: 0;
  padding: 1rem;
}

.must_write_ctn {
  display: flex;
  height: 24%;
  flex-direction: column;
  gap: 8%;
  > p {
    color: #343434;
    font-family: Pretendard;
    font-weight: 700;
    font-style: Bold;
    font-size: 21px;
    line-height: 100%;
    letter-spacing: 0%;
    flex: 1;
    min-height: 0;
  }

  > .meetingcard_container {
    height: 74%;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 10px;
    overflow-x: auto;
    overflow-y: scroll;

    > .meetingcard {
      white-space: nowrap; /* 줄바꿈 금지 */
      overflow: hidden; /* 넘친 내용 숨기기 */
      text-overflow: ellipsis;
      flex: 0 0 calc(50% - 8px);
      scroll-snap-align: start;
      width: 50%;
      height: 100%;
      background-color: white;
      border: 1px solid #e8e8e8;
      border-radius: 8px;
      padding: 3%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 12%;
      scroll-snap-align: start;
      > p:first-child {
        height: 20%;
        font-family: Pretendard;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 17px;

        line-height: 23.1px;
        letter-spacing: 1%;
      }
      > p:nth-child(2) {
        height: 12%;
        font-family: Pretendard;
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #a3a3a3;
      }
      .writeMemoir_button {
        flex: 1;
        min-height: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.2rem;
        margin-top: 1.2rem;
        > span {
          font-family: Pretendard;
          font-weight: 600;
          font-style: SemiBold;
          font-size: 14px;
          line-height: 100%;
          letter-spacing: 0%;
          color: #ff6200;
        }
      }
    }
  }
}

.meetingList_container {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  .list_header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    > input {
      display: none;
    }
    > p {
      font-family: Pretendard;
      font-weight: 700;
      font-style: Bold;
      font-size: 21px;
      line-height: 100%;
      letter-spacing: 0%;
    }
    > button {
      font-family: Pretendard;
      font-weight: 500;
      font-style: Medium;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: right;
      color: #616161;
    }

    .filter_input_wrapper {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .filter_input {
        padding: 0.3rem 0.5rem;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 160px;
      }

      button {
        font-size: 14px;
        padding: 0.3rem 0.7rem;
        background: #f5f5f5;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
  .appear {
    display: block;
  }
  .disappear {
    display: none;
  }
  .meetings_ctn {
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 90%;
    gap: 0.7rem;
  }
  .meeting_ctn {
    width: 100%;
    height: 48%;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding: 1rem;
    border: 1px solid #e8e8e8;
    border-radius: 8px;

    .meeting_intro {
      display: flex;
      justify-content: space-between;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      .meeting_study {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ff6200;
        font-family: Pretendard;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        width: 4.5625rem;
        height: 1.5rem;
        border-radius: 8px;
        background-color: #fff9f1;
        text-overflow: ellipsis;
      }
      .meeting_date {
        font-family: Pretendard;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: right;
        color: #a3a3a3;
      }
    }
    .meeting_main {
      .meeting_title {
        font-family: Pretendard;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 17px;
        line-height: 23.1px;
        letter-spacing: 1%;
        color: #404040;
      }
    }
    .meeting_last {
      font-family: Pretendard;
      font-weight: 500;
      font-style: Medium;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #a3a3a3;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
