.header {
  width: 100%;
  height: 3.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff9f1;

  position: relative;

  &__leftArrow {
    position: absolute;
    left: 20px;
    color: $color-orange-10;

    cursor: pointer;
  }

  &__mainlogo {
    width: 5rem;
  }
}
