.header {
  width: 100%;
  height: 3.5rem;
  display: flex;

  background-color: #fff9f1;

  &__hasHamburger {
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    position: relative;
  }

  &__noHamburger {
    align-items: center;
    justify-content: center;
    position: relative;
  }
  &__leftArrow {
    position: absolute;
    left: 1rem;
    color: $color-orange-10;
    cursor: pointer;
  }

  &__mainlogo {
    width: 5rem;
    margin: 0 auto;
  }

  &__menuWrap {
    position: relative;
    &__hamburger {
      cursor: pointer;
    }
  }
}
