.scheduleCrudCard {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 8px;
  border: 1px solid $color-gray-100;

  padding: 20px 16px;

  &__basic {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 16px;

    &__icon {
      color: $color-orange-500;
    }
  }

  &__expanded {
    width: 100%;
  }
}

.active {
  border: 1px solid $color-orange-10;
}
