.scheduleCrudPage {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 27px 16px;

  &__buttonContainer {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.active {
  background-color: $color-orange-10;
  color: white;
}

.inactive {
  background-color: $color-orange-200;
  color: white;
}

.deleteButton {
  width: fit-content;
  height: 2.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;

  color: $color-orange-10;
}
