.calendarHeader {
  width: 100%;
  height: 5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;

  > .slider {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;

    > .year {
      @include body-2;

      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-orange-700;
    }
  }

  > .month {
    @include head-1;
    color: $color-orange-700;
    cursor: pointer;
  }

  > .calendarTypeCtn {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 15px;

    > .typeLabel {
      @include head-3;
      color: $color-gray-300;
      cursor: pointer;
    }

    > .activeTypeLabel {
      color: $color-orange-700;
    }
  }
}

.sliderOpen {
  background-color: $color-orange-100;
}
