.partici_error_ctn {
  width: 100%;
  height: 100%;
}

.partici_main_ctn {
  width: 100%;
  height: 84%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  .text_ctn {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    > p:nth-of-type(1) {
      font-family: Pretendard;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 17px;
      line-height: 23.1px;
      letter-spacing: 1%;
      text-align: center;
      color: #343434;
    }
    > p:nth-of-type(2) {
      font-family: Pretendard;
      font-weight: 500;
      font-style: Medium;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
    }
  }
}
