@use "@/assets/styles/colors" as *;
@use "@/assets/styles/colors-legacy" as *;

.react-calendar {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background: #fff;
  border: none !important;
  font-family: "Arial", "Helvetica", sans-serif;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: none;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday--weekend {
  color: $color-orange-10;
}

.react-calendar__month-view__days__day--weekend {
  color: $color-orange-10;
}

.react-calendar__month-view__days__day {
  height: 40px;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  font: inherit;
  font-size: 0.833em;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #cdcdcd;
}

.react-calendar__tile:disabled {
  background-color: $color-gray-100;
  color: $color-gray-400;
  cursor: not-allowed;
}

.react-calendar__tile--now {
  background: $color-orange-300;
}

.react-calendar__tile:enabled:hover {
  background-color: $color-orange-100;
}

.react-calendar__tile:enabled:focus {
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

abbr {
  text-decoration: none !important;
}

.eventTagBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.eventTag {
  width: 100%;
  height: 33%;
  border-radius: 10px;
  background-color: $color-orange-10;
  color: white;
  font-size: x-small;
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-active {
  background: $color-orange-10;
  color: white;
  border-radius: 8px;
}

.custom-active:enabled:hover,
.custom-active:enabled:focus {
  background: $color-orange-10;
}

.react-calendar__navigation__label {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

.react-calendar__navigation__arrow {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}
