$color-orange-6: #ffb180;
$color-orange-5: #ff6200;
$color-orange-4: #ff914c;
$color-orange-3: #ffa9a9;
$color-orange-2: #ffc8a5;
$color-orange-1: #ffab7a;

$color-cream-dark: #fff9f1;
$color-cream-light: #f6f2ec;

$color-gray-1: #d9d9d9;
$color-gray-2: #a3a3a3;
$color-gray-3: #959595;
$color-gray-4: #404040;
