// orange
// these oranges are independent: $color-orange-3, $color-orange-4, $color-orange-5, $color-orange-7, $color-orange-9, $color-orange-10
$color-orange-100: #fff9f1; // $color-orange-2
$color-orange-200: #fff5ee; // $color-orange-6, $color-orange-11
$color-orange-300: #ffe7d8; // $color-orange-1
$color-orange-500: #ffae7e;
$color-orange-700: #ff7842;
$color-orange-800: #ff5511;
//cream
$color-cream-100: #fff9f1; // $color-cream-dark
$color-cream-200: #f6f2ec; // $color-cream-light

//gray
// these grays are independent: $color-gray-1, $color-gray-3, $color-gray-4, $color-gray-7, $color-gray-9, $color-gray-11
$color-gray-100: #f5f5f5; // $color-gray-8
$color-gray-200: #e8e8e8; // $color-gray-5
$color-gray-300: #c4c4c4; // $color-gray-2
$color-gray-400: #a3a3a3; // $color-gray-6
$color-gray-500: #7c7c7c; // $color-gray-10
$color-gray-600: #616161;
$color-gray-700: #343434;
