@font-face {
  font-family: "InriaSerif";
  font-weight: 400;
  src: url("/src/assets/fonts/InriaSerif-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("/src/assets/fonts/Pretendard-Regular.otf");
}
